<!DOCTYPE html>
<html>
<head>
    <title>To-Do Form</title>
</head>
<body>

<h2>To-Do Item Form</h2>

<form method="POST">

    <label>Item Name</label><br>
    <input type="text" name="itemName"><br><br>

    <label>Item Description</label><br>
    <textarea name="itemDescription"></textarea><br><br>
    <label>Item ID</label><br>
    <input type="text" name="itemId"><br><br>
    <label>Item UUID</label><br>
    <input type="text" name="itemUUID"><br><br>
    <label>Item Hash</label><br>
    <input type="text" name="itemHash"><br><br>
    <button type="submit">Submit</button>

</form>

</body>
</html>